div.Title_TOC_Only, caption.Title_TOC_Only
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Heading_1, caption.Heading_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Table_Cell_Head, caption.Table_Cell_Head
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Table_Cell, caption.Table_Cell
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Lines, caption.Lines
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
  white-space: pre;
}

div.Section, caption.Section
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.Section_Title, caption.Section_Title
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Body, caption.Body
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.List_1, caption.List_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Important, caption.Important
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.Title, caption.Title
{
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.List_1_Continued, caption.List_1_Continued
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.Note_1, caption.Note_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.Definition_Term, caption.Definition_Term
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-top: 9px;
}

div.Definition_Description, caption.Definition_Description
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 22px;
  margin-top: 0px;
}

div.Figure_1, caption.Figure_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.title, caption.title
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.heading-no-quotes, caption.heading-no-quotes
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  margin-left: 18pt;
}

div.Table_Title, caption.Table_Title
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Note, caption.Note
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.List_2, caption.List_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.List_3, caption.List_3
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 54pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Heading_2, caption.Heading_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.45em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Related_Reference, caption.Related_Reference
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.Preformatted, caption.Preformatted
{
  background-color: #E5E4E4;
  color: #333333;
  font-family: 'Source Code Pro', monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  white-space: pre;
}

div.Numbered_1, caption.Numbered_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Important_1, caption.Important_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.List_2_Continued, caption.List_2_Continued
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.procedure, caption.procedure
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 6pt;
  padding-left: 18pt;
  padding-top: 6pt;
}

div.Note_2, caption.Note_2
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 36pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.Related_References_Link_Pool_Open, caption.Related_References_Link_Pool_Open
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Tip_1, caption.Tip_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.heading, caption.heading
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  margin-left: 18pt;
}

div.Heading_3, caption.Heading_3
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Numbered_2, caption.Numbered_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Child_Topics_Link_Pool_Open, caption.Child_Topics_Link_Pool_Open
{
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 2pt;
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  font-weight: bold;
  margin-bottom: 1pt;
  margin-top: 1pt;
}

div.Child_Topics_Link_Pool_Close, caption.Child_Topics_Link_Pool_Close
{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2pt;
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  font-weight: bold;
  margin-bottom: 1pt;
  margin-top: 1pt;
}

div.Child_Topic, caption.Child_Topic
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  margin-left: 18pt;
}

div.Parent_Topics_Link_Pool_Open, caption.Parent_Topics_Link_Pool_Open
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

div.Parent_Topic, caption.Parent_Topic
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  margin-left: 18pt;
}

div.Preformatted_1, caption.Preformatted_1
{
  background-color: #E5E4E4;
  color: #333333;
  font-family: 'Source Code Pro', monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 18pt;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  white-space: pre;
}

div.Body_1_-_Note_-_not_first, caption.Body_1_-_Note_-_not_first
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 0px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.internalheadrule, caption.internalheadrule
{
  border-bottom-color: #007096;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Reference_Syntax, caption.Reference_Syntax
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

span.uicontrol, abbreviation.uicontrol, acronym.uicontrol, citation.uicontrol
{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

span.varname, abbreviation.varname, acronym.varname, citation.varname
{
  font-style: italic;
}

span.userinput, abbreviation.userinput, acronym.userinput, citation.userinput
{
  font-family: 'Source Code Pro', monospace;
}

span.ph_002c_Citation, abbreviation.ph_002c_Citation, acronym.ph_002c_Citation, citation.ph_002c_Citation
{
  font-style: italic;
}

span.inlinetitle, abbreviation.inlinetitle, acronym.inlinetitle, citation.inlinetitle
{
  font-weight: bold;
}

span.Citation, abbreviation.Citation, acronym.Citation, citation.Citation
{
  font-style: italic;
}

span.codeph, abbreviation.codeph, acronym.codeph, citation.codeph
{
  font-family: 'Source Code Pro', monospace;
}

span.apiname, abbreviation.apiname, acronym.apiname, citation.apiname
{
  font-family: 'Source Code Pro', monospace;
}

span.ph_002c_emphasis, abbreviation.ph_002c_emphasis, acronym.ph_002c_emphasis, citation.ph_002c_emphasis
{
  font-style: italic;
}

span.term, abbreviation.term, acronym.term, citation.term
{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

span.codeph_002c_varname, abbreviation.codeph_002c_varname, acronym.codeph_002c_varname, citation.codeph_002c_varname
{
  font-family: 'Source Code Pro', monospace;
  font-style: italic;
}

span.emphasis, abbreviation.emphasis, acronym.emphasis, citation.emphasis
{
  font-style: italic;
}

span.msgph, abbreviation.msgph, acronym.msgph, citation.msgph
{
  font-weight: bold;
}

span.filepath, abbreviation.filepath, acronym.filepath, citation.filepath
{
  font-family: 'Source Code Pro', monospace;
}

span.uicontrol_002c_varname, abbreviation.uicontrol_002c_varname, acronym.uicontrol_002c_varname, citation.uicontrol_002c_varname
{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
}

span.parmname, abbreviation.parmname, acronym.parmname, citation.parmname
{
  font-family: 'Source Code Pro', monospace;
}

span.cmdname, abbreviation.cmdname, acronym.cmdname, citation.cmdname
{
  font-family: 'Source Code Pro', monospace;
}

span.Bold
{
  font-weight: bold;
}

span.Bold
{
  font-weight: bold;
}

table.rules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
  padding-right: 20pt;
}

table.norules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.norules2
{
  margin-bottom: 9pt;
  margin-left: 19pt;
  margin-top: 5pt;
}

table.NoRules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.Draft_Comment
{
  background-color: #CCFF99;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1pt;
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.Rules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.NoRules2
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

